@import "globals";
body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-dark-desaturated-blue-main-background);
  transition: all 0.3s ease;
}

main {
  width: 30vw;
  height: 80vh;
}

.top_bar {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  color: var(--White);
  transition: all 0.3s ease;
  .small_container {
    display: flex;
    align-items: center;
    p {
      font-size: 0.6rem;
      text-transform: uppercase;
      padding-right: 1.5rem;
    }
    .selector {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      .label {
        letter-spacing: 0.6rem;
        padding-right: 0;
        margin-bottom: 0.1rem;
        padding-left: 0.4rem;
      }
    }

    .toggle_box {
      display: flex;
      align-items: center;
      width: 95%;
      height: 17px;
      background-color: var(
        --Very-dark-desaturated-blue-toggle-background-keypad-background
      );
      transition: all 0.3s ease;
      border-radius: 5rem;
      .toggle_circle {
        width: 11px;
        height: 11px;
        background-color: var(--Red-key-background-toggle);
        border-radius: 5rem;
        margin: 0.2rem;
        cursor: pointer;
        transition: all 0.3s ease;
      }
    }
  }
}

.container {
  .input {
    width: 30vw;
    height: 5rem;
    overflow: hidden;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    .screen {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      background-color: var(--Very-dark-desaturated-blue-screen-background);
      padding: 10px;
      font-size: 32px;
      color: var(--White);
      transition: all 0.3s ease;
      text-align: right;
    }
  }
  .keypad {
    display: grid;
    width: 30vw;
    height: 50vh;
    padding: 1.5rem;
    background-color: var(
      --Very-dark-desaturated-blue-toggle-background-keypad-background
    );
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    overflow: hidden;
    border-radius: 0.4rem;
    transition: all 0.3s ease;
    .num {
      width: 70px;
      background-color: var(--Light-grayish-orange-key-background);
      border: none;
      outline: none;
      border-bottom: 4px solid var(--Grayish-orange-key-shadow);
      border-radius: 0.4rem;
      font-size: 23px;
      color: var(--Very-dark-grayish-blue);
      cursor: pointer;
      transition: all 0.3s ease;
      text-align: center;
    }
    .del,
    .reset {
      background-color: hsl(225, 21%, 49%);
      border-bottom: 4px solid var(--Desaturated-dark-blue-key-shadow);
      font-size: 15px;
      color: var(--White);
      transition: all 0.3s ease;
    }
    .reset {
      grid-column: span 2;
      width: 165px;
    }
    .equal {
      grid-column: span 2;
      width: 165px;
      color: var(--White);
      background-color: var(--Red-key-background-toggle);
      border-bottom: 4px solid hsl(6, 70%, 34%);
      transition: all 0.3s ease;
    }
  }
}

@media (max-width: 965px) {
  main {
    width: 85vw;
    height: 88vh;
  }
  .top_bar {
    h2 {
      font-size: 1.8rem;
    }
    .small_container {
      p {
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
      }
      .selector {
        .toggle_box {
          height: 19px;
          .toggle_circle {
            width: 13px;
            height: 13px;
          }
        }
      }
    }
  }
  .container {
    .input {
      width: 85vw;
      margin-top: 1rem;
    }
    .keypad {
      width: 85vw;
      height: 60vh;
      grid-gap: 0.8rem;
      .num {
        width: 54px;
        height: 54px;
      }
      .reset {
        width: 122px;
      }
      .equal {
        width: 122px;
      }
    }
  }
  .attribution {
    margin-top: 1rem;
    font-size: 0.6rem;
    a {
      font-size: 0.6rem;
    }
  }
}
